body {
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url('https://goo.gl/KCufCv'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}